In [1]:
# Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
# Salary(Lakhs) : Tax(%)

# Below 5 : 0%
# 5-10 : 10%
# 10-20 : 20%
# aboove 20 : 30%


import math

salary = int(input("Enter salary in LPA: "))

#deduct fixed amounts first

HRA = salary * 0.10
DA = salary * 0.05
PF = salary * 0.03

fixed_amount = HRA + DA + PF


tax_percentage = 0

#Tax Slab

if salary <= 5:
    tax_percentage = 0
elif salary >= 5 and salary <= 10:
    tax_percentage = 10
elif salary >= 10 and salary <= 20:
    tax_percentage = 20
elif salary >= 20:
    tax_percentage = 30


tax_amount = salary * (tax_percentage / 100)

salary = salary - fixed_amount - tax_amount

print(math.floor(salary))

Enter salary in LPA:  20

12

In [ ]:
# : Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

a1 = int(input("Enter First Angle"))
a2 = int(input("Enter Second Angle"))
a3 = int(input("Enter Third Angle"))

if a1 > 0 and a2 > 0and a3 > 0 and a1 + a2 + a3 == 180:
    print(f"It forms a Trainge")
else:
    print("it can't form a Traingle")

In [ ]:
# Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

cost_price = int(input("Enter Cost Price"))
selling_price = int(input("Enter Selling Price"))

if selling_price > cost_price:
    print("You made a Profit")
elif selling_price < cost_price:
    print("You are in Loss")
else:
    print("No profit No Loss")

In [2]:
# Exercise 12: Display Fibonacci series up to 10 terms.
# Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34


first = 0
second = 1

print(first)
print(second)


for i in range(3,10):
    next_number = first + second
    print(next_number)

    first = second
    second = next_number

0
1
1
2
3
5
8
13
21

In [4]:
#  Find the factorial of a given number.
# Write a program to use the loop to find the factorial of a given number.

# The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

# For example: calculate the factorial of 5



n = int(input("Enter number : "))
fact = 1
for i in range(1,n+1):
    fact = fact * i 
print(fact)

Enter number :  5

120

In [5]:
# Reverse a given integer number.
# Example:

# Input:

# 76542
# Output:


# 24567



n = 76542
reversed_number = 0


while n > 0:
    last_digit = n % 10
    reversed_number = (reversed_number * 10) + last_digit
    n = n // 10

print(reversed_number)

24567

In [6]:
# Take a user input as integer N. Find out the sum from 1 to N.
# If any number if divisible by 5, then skip that number. And if the sum is greater than 300,
# don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.



n = 30
i = 1
sum = 0 

while i <= n:
    if i % 5 != 0:
        sum = sum + i
        if sum + i > 300:
            break
    i = i + 1

print(sum)

276