In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.__version__

'2.2.2'

In [ ]:
#key data str
#Series -> one list or a table only with a single column
#DataFrame -> a full fledeged table with more series

In [ ]:
#Pandas Series

In [29]:
sales = pd.Series([2,3,4,1,None])
sales

0    2.0
1    3.0
2    4.0
3    1.0
4    NaN
dtype: float64

In [6]:
sales[1]

3

In [7]:
#slicing

sales[0:2]

0    2
1    3
dtype: int64

In [ ]:
#attributes

In [8]:
sales.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
sales.values

array([2, 3, 4])

In [10]:
sales.dtype

dtype('int64')

In [11]:
#methods
#head - first 5 by default, you can specify

sales.head(2)

0    2
1    3
dtype: int64

In [12]:
#tail - last 5 by default but you can specify too
sales.tail(2)

1    3
2    4
dtype: int64

In [15]:
sales.sort_values()

3    1
0    2
1    3
2    4
dtype: int64

In [16]:
sales.count()

4

In [23]:
sales.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [30]:
new_sales = sales ** 2

In [31]:
new_sales

0     4.0
1     9.0
2    16.0
3     1.0
4     NaN
dtype: float64

In [32]:
sales_missing = pd.Series([2,3,232,None,4,None])
sales_missing

0      2.0
1      3.0
2    232.0
3      NaN
4      4.0
5      NaN
dtype: float64

In [34]:
#to fill nan (doesnt change orginal arr)
sales_missing.fillna(9)

0      2.0
1      3.0
2    232.0
3      9.0
4      4.0
5      9.0
dtype: float64

In [43]:
listforindex = []
for i in range(10,15):
    listforindex.append(i)

In [44]:
#change indexes
series_index = pd.Series(data=[100,200,300,400,500], index=list(listforindex))

In [45]:
series_index

10    100
11    200
12    300
13    400
14    500
dtype: int64

In [46]:
#create a data frame
data = pd.DataFrame({
    "Name" : ["Anna","Ben"],
    "Lemonade": [2,3]
})

In [47]:
data

   Name  Lemonade
0  Anna         2
1   Ben         3

In [57]:
#creating a data frame using series

s1 = pd.Series(["Virat","Rohit","Hardik"])
s2 = pd.Series([100,32,121])

df = pd.DataFrame({"Players": s1,"Runs": s2})

In [58]:
df

  Players  Runs
0   Virat   100
1   Rohit    32
2  Hardik   121

In [59]:
#.shape -> gets the coordinates

s1.shape

(3,)

In [60]:
df.shape

(3, 2)

In [61]:
df.columns

Index(['Players', 'Runs'], dtype='object')

In [62]:
df.dtypes

Players    object
Runs        int64
dtype: object

In [63]:
#accessing data

#using labels
df.loc[0]

Players    Virat
Runs         100
Name: 0, dtype: object

In [64]:
df.iloc[0]

Players    Virat
Runs         100
Name: 0, dtype: object

In [65]:
df

  Players  Runs
0   Virat   100
1   Rohit    32
2  Hardik   121

In [67]:
df.loc[1,"Players"]

'Rohit'

In [68]:
df.loc[2,"Runs"]

121

In [70]:
df.iloc[2,0]

'Hardik'