In [ ]:
# What is Pandas
# Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
# built on top of the Python programming language

In [ ]:
# Pandas Series
# A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [1]:
#importing pandas
import numpy as np
import pandas as pd

In [3]:
#series from list

In [5]:
#strings
country = ["India","Pak","USA","Nepal"]
pd.Series(country)

0    India
1      Pak
2      USA
3    Nepal
dtype: object

In [6]:
#intergers
runs = [12,23,243,2,232,101]
pd.Series(runs)

0     12
1     23
2    243
3      2
4    232
5    101
dtype: int64

In [9]:
#customs index
marks = [100,90,67,100,100,56]
subjects = ["Science","English","Urdu","Math","CS","Hindi"]

pd.Series(marks,index=subjects)

Science    100
English     90
Urdu        67
Math       100
CS         100
Hindi       56
dtype: int64

In [10]:
#setting a name
marks = [100,90,67,100,100,56]
subjects = ["Science","English","Urdu","Math","CS","Hindi"]

pd.Series(marks,index=subjects,name="Muffakir ke marks")

Science    100
English     90
Urdu        67
Math       100
CS         100
Hindi       56
Name: Nithish ke marks, dtype: int64

In [11]:
#series from dict

marks = {
    "maths":67,
    "english":100,
    "science":98,
    "urdu":100,
    "sst":100
}

marks_series = pd.Series(marks,name="X ke marks")
marks_series

maths       67
english    100
science     98
urdu       100
sst        100
Name: X ke marks, dtype: int64

In [ ]:
#SERIES Attributes:

In [14]:
#1.size -> returns size of series or returns items
marks_series.size

5

In [15]:
#2-dtype
marks_series.dtype

dtype('int64')

In [16]:
#is_unique: tells if all items in series are unique

marks_series.is_unique

False

In [17]:
#index -> gives back index array of all indexes

marks_series.index

Index(['maths', 'english', 'science', 'urdu', 'sst'], dtype='object')

In [18]:
#values -> gives back array of values
marks_series.values

array([ 67, 100,  98, 100, 100])

In [11]:
#series using read_csv
pd.read_csv("smartphone_cleaned_v5.csv")

,brand_name,model,price,rating,has_5g,has_nfc,has_ir_blaster,processor_brand,num_cores,processor_speed,...,screen_size,refresh_rate,resolution,num_rear_cameras,num_front_cameras,os,primary_camera_rear,primary_camera_front,extended_memory_available,extended_upto
0,oneplus,OnePlus 11 5G,54999,89.0,True,True,False,snapdragon,8.0,3.20,...,6.70,120,1440 x 3216,3,1.0,android,50.0,16.0,0,NaN
1,oneplus,OnePlus Nord CE 2 Lite 5G,19989,81.0,True,False,False,snapdragon,8.0,2.20,...,6.59,120,1080 x 2412,3,1.0,android,64.0,16.0,1,1024.0
2,samsung,Samsung Galaxy A14 5G,16499,75.0,True,False,False,exynos,8.0,2.40,...,6.60,90,1080 x 2408,3,1.0,android,50.0,13.0,1,1024.0
3,motorola,Motorola Moto G62 5G,14999,81.0,True,False,False,snapdragon,8.0,2.20,...,6.55,120,1080 x 2400,3,1.0,android,50.0,16.0,1,1024.0
4,realme,Realme 10 Pro Plus,24999,82.0,True,False,False,dimensity,8.0,2.60,...,6.70,120,1080 x 2412,3,1.0,android,108.0,16.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,motorola,Motorola Moto Edge S30 Pro,34990,83.0,True,False,False,snapdragon,8.0,3.00,...,6.67,120,1080 x 2460,3,1.0,android,64.0,16.0,0,NaN
976,honor,Honor X8 5G,14990,75.0,True,False,False,snapdragon,8.0,2.20,...,6.50,60,720 x 1600,3,1.0,android,48.0,8.0,1,1024.0
977,poco,POCO X4 GT 5G (8GB RAM + 256GB),28990,85.0,True,True,True,dimensity,8.0,2.85,...,6.60,144,1080 x 2460,3,1.0,android,64.0,16.0,0,NaN
978,motorola,Motorola Moto G91 5G,19990,80.0,True,True,False,snapdragon,8.0,2.20,...,6.80,60,1080 x 2400,3,1.0,android,108.0,32.0,1,1024.0
979,samsung,Samsung Galaxy M52s 5G,24990,74.0,True,False,False,NaN,8.0,NaN,...,6.50,60,1080 x 2400,3,1.0,android,64.0,32.0,1,1024.0

In [9]:
pd.read_csv("smartphone_cleaned_v5.csv",usecols=["model", "price"])

                               model  price
0                      OnePlus 11 5G  54999
1          OnePlus Nord CE 2 Lite 5G  19989
2              Samsung Galaxy A14 5G  16499
3               Motorola Moto G62 5G  14999
4                 Realme 10 Pro Plus  24999
..                               ...    ...
975       Motorola Moto Edge S30 Pro  34990
976                      Honor X8 5G  14990
977  POCO X4 GT 5G (8GB RAM + 256GB)  28990
978             Motorola Moto G91 5G  19990
979           Samsung Galaxy M52s 5G  24990

[980 rows x 2 columns]

In [2]:
#converting data frame into series

phones = pd.read_csv("smartphone_cleaned_v5.csv",index_col='rating',usecols=["model", "price","rating"]).squeeze()

In [ ]:
#Head and tail

In [ ]:
#head -> first 5 rows by default or param to sepcify

In [3]:
phones.head()

                            model  price
rating
89.0                OnePlus 11 5G  54999
81.0    OnePlus Nord CE 2 Lite 5G  19989
75.0        Samsung Galaxy A14 5G  16499
81.0         Motorola Moto G62 5G  14999
82.0           Realme 10 Pro Plus  24999

In [4]:
#tail -> last 5 rows
phones.tail()

                                  model  price
rating
83.0         Motorola Moto Edge S30 Pro  34990
75.0                        Honor X8 5G  14990
85.0    POCO X4 GT 5G (8GB RAM + 256GB)  28990
80.0               Motorola Moto G91 5G  19990
74.0             Samsung Galaxy M52s 5G  24990

In [8]:
#sample
#gives one random row

phones.sample()

                                   model  price
rating
84.0    Poco X4 Pro 5G (8GB RAM + 128GB)  17999

In [13]:
pd.read_csv("movies.csv")

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
...,...,...,...,...,...,...,...,...,...,...
1279,tt4121522,Shuruaat Ka Interval,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
1280,tt4187650,Trip to Bhangarh,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
1281,tt4190220,Zed Plus,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
1282,tt4219300,Gollu aur Pappu,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [52]:
movies = pd.read_csv("movies.csv",usecols=["title","actors","genre"],index_col=["title"])

In [51]:
#value_counts -> gets the frequency count
actors = pd.read_csv("actors.csv")
actors.value_counts()

actorId  actorName       movieCount  ratingSum  normalizedMovieRank  googleHits  normalizedGoogleRank  normalizedRating
373      Aamir Khan      11          1170       9.44862              2460000     7.34283               10.00000            1
525      Mahie Gill      7           230        2.25776              111000      1.28292               2.44801             1
511      Vrajesh Hirjee  8           300        2.71196              12300       1.02830               2.56175             1
514      Arbaaz Khan     17          530        2.09335              235000      1.60282               2.53662             1
517      Udita Goswami   9           280        2.08696              229000      1.58734               2.52416             1
                                                                                                                          ..
443      Sharman Joshi   15          820        4.39130              129000      1.32936               3.69044             1
444      Boman Irani     19          880        3.57437              416000      2.06976               3.64682             1
445      Satish Shah     11          510        3.57905              385000      1.98978               3.60391             1
446      Arshad Warsi    22          1100       3.93478              217000      1.55638               3.55964             1
608      Snehal Dabi     7           140        1.00000              1330        1.00000               1.56993             1
Name: count, Length: 189, dtype: int64

In [76]:
vk = pd.read_csv("vk.csv").squeeze()
x = vk.iloc[0]
x

Runs                   12
BF                     22
4s                      1
6s                      0
SR                  54.54
Pos                   2.0
Dismissal             lbw
Inns                    1
Opposition    v Sri Lanka
Ground           Dambulla
Start Date      18-Aug-08
Name: 0, dtype: object

In [65]:
#sort values -> temporary change btw
vk.sort_values(by="Runs",ascending=False).head(1).values[0][0]

154

In [66]:
vk.sort_values(by="Runs",inplace=True)

In [67]:
vk

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
52,0,5,0,0,0.00,3.0,bowled,1,v England,Kolkata,25-Oct-11
97,0,3,0,0,0.00,3.0,caught,1,v England,Cardiff,27-Aug-14
42,0,1,0,0,0.00,3.0,lbw,2,v West Indies,North Sound,11-Jun-11
68,0,5,0,0,0.00,3.0,bowled,1,v Pakistan,Chennai,30-Dec-12
91,0,5,0,0,0.00,3.0,caught,2,v South Africa,Durban,8-Dec-13
...,...,...,...,...,...,...,...,...,...,...,...
66,128,119,12,1,107.56,3.0,not out,2,v Sri Lanka,Colombo (RPS),31-Jul-12
96,136,122,16,2,111.47,3.0,bowled,2,v Bangladesh,Fatullah,26-Feb-14
117,138,140,6,5,98.57,3.0,caught,1,v South Africa,Chennai,22-Oct-15
108,139,126,12,3,110.31,4.0,not out,2,v Sri Lanka,Ranchi,16-Nov-14
126,154,134,16,1,114.92,3.0,not out,2,v New Zealand,Mohali,23-Oct-16

In [57]:
#sort index -> sorts based on index

movies.sort_index(inplace=True)

In [ ]:
#series math methods

In [69]:
#count

type(vk)

pandas.core.frame.DataFrame