In [ ]:
# What is Pandas
# Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
# built on top of the Python programming language

In [ ]:
# Pandas Series
# A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [1]:
#importing pandas
import numpy as np
import pandas as pd

In [3]:
#series from list

In [5]:
#strings
country = ["India","Pak","USA","Nepal"]
pd.Series(country)

0    India
1      Pak
2      USA
3    Nepal
dtype: object

In [6]:
#intergers
runs = [12,23,243,2,232,101]
pd.Series(runs)

0     12
1     23
2    243
3      2
4    232
5    101
dtype: int64

In [9]:
#customs index
marks = [100,90,67,100,100,56]
subjects = ["Science","English","Urdu","Math","CS","Hindi"]

pd.Series(marks,index=subjects)

Science    100
English     90
Urdu        67
Math       100
CS         100
Hindi       56
dtype: int64

In [10]:
#setting a name
marks = [100,90,67,100,100,56]
subjects = ["Science","English","Urdu","Math","CS","Hindi"]

pd.Series(marks,index=subjects,name="Muffakir ke marks")

Science    100
English     90
Urdu        67
Math       100
CS         100
Hindi       56
Name: Nithish ke marks, dtype: int64

In [11]:
#series from dict

marks = {
    "maths":67,
    "english":100,
    "science":98,
    "urdu":100,
    "sst":100
}

marks_series = pd.Series(marks,name="X ke marks")
marks_series

maths       67
english    100
science     98
urdu       100
sst        100
Name: X ke marks, dtype: int64

In [ ]:
#SERIES Attributes:

In [14]:
#1.size -> returns size of series or returns items
marks_series.size

5

In [15]:
#2-dtype
marks_series.dtype

dtype('int64')

In [16]:
#is_unique: tells if all items in series are unique

marks_series.is_unique

False

In [17]:
#index -> gives back index array of all indexes

marks_series.index

Index(['maths', 'english', 'science', 'urdu', 'sst'], dtype='object')

In [18]:
#values -> gives back array of values
marks_series.values

array([ 67, 100,  98, 100, 100])

In [ ]:
#series using read_csv

In [22]:
#with one col
pd.read_csv("smartphone_cleaned_v5.csv").squeeze("model")

ValueError: No axis named model for object type DataFrame