In [2]:
#Tuples: 
# A tuple in Python is similar to a list. The difference between the two is that we cannot change
# the elements of a tuple once it is assigned whereas we can change the elements of a list

# Characterstics

# - Ordered
# - Unchangeble
# - Allows duplicate



t1 = (1,)
type(t1)

#homo
t2 = (1,2,3,4)
#hetro 
t3 = (1,"Hello",True)
#Tuple
t4 = (1,2,3,(1,2))
#using type conversion
t6 = tuple('hello')
print(t6)

('h', 'e', 'l', 'l', 'o')

In [3]:
# Acessing Items

#Using Indexing
print(t2[0])
print(t2[-1])

1
4

In [4]:
#Slicing
print(t2[1:3])

(2, 3)

In [ ]:
#Editing Items
#Tuples are immutable so they can't be edited

In [ ]:
#Adding Items
#It is also not possible, because you can't add items

In [6]:
#Deleting Items
#you can delete a entire tuple but not a item in it

In [13]:
#operation on tuple
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)
print(t1*2)


#membership 
1 in t1 #true
#iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [17]:
#tuple functions 
#len / sum / min / max / sorted

t = (1,2,3,4,5,6)
print(sum(t))
print(len(t))
print(min(t))
print(max(t))
sorted(t,reverse=True)

21
6
1
6

[6, 5, 4, 3, 2, 1]

In [18]:
#count
t = (1,2,3,4,5,6)
t.count(1)

1

In [19]:
#index
t.index(5)

4

In [ ]:
#Difference bw List and Tuple

# - Syntax 
# - Mutability : Tuples are immutable
# - Speed : Tuples are faster as compared to lists
# - Memory : Tuples take less space as compared to lists
# - Built in functionality
# - Error prone
# - Usability

In [20]:
#Tuple unpacking

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b = (1,2,3)
print(a,b)

#error: too many values to unpack (expected 2)

In [22]:
#swapping values
a = 1
b = 2
a,b = b,a
print(a)
print(b)

2
1

In [23]:
a,b,*others = (1,2,3,5,6)
print(a,b)
print(others)

1 2
[3, 5, 6]

In [24]:
#Zippig Tuples
a = (1,2,3,4)
b = (5,6,7,8)
tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
#Sets
# A set is an unordered collection of items. Every set element is unique (no duplicates)
# and must be immutable (cannot be changed).

# However, a set itself is mutable. We can add or remove items from it.

# Characterstics:
# - Unordered
# - Mutable
# - No Duplicates
# - Can't contain mutable data types

In [33]:
#empty
s = set()
print(s)
print(type(s))

#1D and 2D
s1 = {1,2,3,4}
# s2 = {1,2,3,{4,5,6}} # error coz sets can't contain mutable items
print(s1)
# print(s2)

#homo and hetro
s3 = {1,'hello',4.5,(1,2,3),True}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)
# set can't have mutable items
# s6 = {1,2,[3,4]}
# print(s6)

set()
<class 'set'>
{1, 2, 3, 4}
{1, (1, 2, 3), 'hello', 4.5}
{1, 2, 3}
{1, 2, 3}

In [29]:
s = "hello"
print(s)

way

In [ ]:
#Accessing items is not possible in sets
#Editing items is not possible either

In [36]:
#Adding items

s = {1,2,3,4}
s.add(5) #adds a single item
s.update([5,6,7,8]) #adds multiple item
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# del
s = {1,2,3,4,5}
# print(s)
# del s[0]  deletes whole set
# print(s)
# discard # removes an item, but not throws error if the item is not present
# s.discard(50)
# print(s)
# remove
# s.remove(50) # same as discard but throws error if item not found
# print(s)
# pop
# s.pop() # removes a random item
# clear
s.clear() # makes whole set empty
print(s)

In [51]:
#Set Operations
s1 = {1,2,3,4,5}
s2 = {4,6,7,8,9}

#Union : | : Unites both the sets
# s1 | s2

#Intersection : & : Finds common in both the sets
print(s1 & s2)

#Differnece
# s1 - s2 those elements of s1 which are not in s2
# s2 - s1 those elements of s2 which are not in s1

# Symmetric Differnece(^)
# s1 ^ s2 Except common elements every others gets printed

{4}

{1, 2, 3, 5, 6, 7, 8, 9}

In [52]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [55]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [56]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [57]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [59]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {4,7,8,5,6}

s1.isdisjoint(s2)

False

In [ ]:
#Frozen Set
# Frozen set is just an immutable version of a Python set object

# what works and what does not
# works -> all read functions
# does't work -> write operations

In [60]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [61]:
#Set Comprehension
{i**2 for i in range(1,10)}

{1, 4, 9, 16, 25, 36, 49, 64, 81}

In [ ]:
#Dictionary in Python is a collection of keys values, used to store data values like a map, 
# which, unlike other data types which hold only a single value as an element.
# - Mutable
# - Indexing has no meaning
# - keys can't be duplicated
# - keys can't be mutable items

In [62]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4
# duplicate keys
d5 = {'name':'nitish','name':'rahul'}
d5
# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [ ]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

del s['subjects']['maths']

In [ ]:
# len/sorted
len(d)
print(d)
sorted(d,reverse=True)
max(d)