In [8]:
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [12]:
rows = int(input("Enter no of rows: "))
for i in range(1,rows + 1):
    for j in range(1,i+1):
        print('*',end='')
    print()

Enter no of rows:  5

*
**
***
****
*****

In [16]:
rows = int(input("Enter no of rows: "))
for i in range(1,rows + 1):
    for j in range(1,i+1):
        print(j,end='')
    for k in range(i-1,0,-1):
        print(k,end='')
    print()

Enter no of rows:  4

1
121
12321
1234321

In [1]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [5]:
lower = int(input("Enter lower range"))
upper = int(input("Enter upper range"))

for i in range(lower,upper+1):
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        print(i)

Enter lower range 10
Enter upper range 100

2
10
5
10
2
12
3
12
4
12
6
12
2
14
7
14
3
15
5
15
2
16
4
16
8
16
2
18
3
18
6
18
9
18
2
20
4
20
5
20
10
20
3
21
7
21
2
22
11
22
2
24
3
24
4
24
6
24
8
24
12
24
5
25
2
26
13
26
3
27
9
27
2
28
4
28
7
28
14
28
2
30
3
30
5
30
6
30
10
30
15
30
2
32
4
32
8
32
16
32
3
33
11
33
2
34
17
34
5
35
7
35
2
36
3
36
4
36
6
36
9
36
12
36
18
36
2
38
19
38
3
39
13
39
2
40
4
40
5
40
8
40
10
40
20
40
2
42
3
42
6
42
7
42
14
42
21
42
2
44
4
44
11
44
22
44
3
45
5
45
9
45
15
45
2
46
23
46
2
48
3
48
4
48
6
48
8
48
12
48
16
48
24
48
7
49
2
50
5
50
10
50
25
50
3
51
17
51
2
52
4
52
13
52
26
52
2
54
3
54
6
54
9
54
18
54
27
54
5
55
11
55
2
56
4
56
7
56
8
56
14
56
28
56
3
57
19
57
2
58
29
58
2
60
3
60
4
60
5
60
6
60
10
60
12
60
15
60
20
60
30
60
2
62
31
62
3
63
7
63
9
63
21
63
2
64
4
64
8
64
16
64
32
64
5
65
13
65
2
66
3
66
6
66
11
66
22
66
33
66
2
68
4
68
17
68
34
68
3
69
23
69
2
70
5
70
7
70
10
70
14
70
35
70
2
72
3
72
4
72
6
72
8
72
9
72
12
72
18
72
24
72
36
72
2
74
37
74
3
75
5
75
15
75
25
75
2
76
4
76
19
76
38
76
7
77
11
77
2
78
3
78
6
78
13
78
26
78
39
78
2
80
4
80
5
80
8
80
10
80
16
80
20
80
40
80
3
81
9
81
27
81
2
82
41
82
2
84
3
84
4
84
6
84
7
84
12
84
14
84
21
84
28
84
42
84
5
85
17
85
2
86
43
86
3
87
29
87
2
88
4
88
8
88
11
88
22
88
44
88
2
90
3
90
5
90
6
90
9
90
10
90
15
90
18
90
30
90
45
90
7
91
13
91
2
92
4
92
23
92
46
92
3
93
31
93
2
94
47
94
5
95
19
95
2
96
3
96
4
96
6
96
8
96
12
96
16
96
24
96
32
96
48
96
2
98
7
98
14
98
49
98
3
99
9
99
11
99
33
99
2
100
4
100
5
100
10
100
20
100
25
100
50
100

In [6]:
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [ ]:
# strings
#ways to create a string
s = 'Hello'
s = "Hello"
s = '''Hello'''

In [10]:
#Positive Indexing
s = 'Hello World'
print(s[2])


#Negative Indexing
x = "Synide"
print(x[-1])

l
e

In [18]:
#Slicing
s = "Hello World!"
print(s[0:5])


#the third para

print(s[0:7:3])


#reverse a string
print(s[::-1])

Hello
HlW
!dlroW olleH

In [22]:
#Editing and Deleting a String

#s = "muffakir hamid"
#s[0] = "M"

#Python strings are immutable i.e they can't be edited once defined



#deleting a string
s = "Hello World"
del s
# print(s)
# error

In [23]:
s = "hello world"
# del s[-1:-5:2]
# print(s)

#it will throw an error

In [25]:
#Operations on strings

#Arthemtic Operations on Strings
#-> Addtion
a = "str"
b = "abc"

print(a+b)

#-> Multiplication
x = "y"
print(x*10)

strabc
yyyyyyyyyy

In [30]:
#Relational Op

print("hello" == "Hello")
print("Mumbai" > "pune")

False
False

In [32]:
'hello' or 'world'

'hello'

In [34]:
for i in "hello":
    print(i)

h
e
l
l
o

In [38]:
#String Functions
#Common Functions

#len : it gives the length of the string
print(len("Hello"))
#max : Based on ASCII value it gives the max character
print(max("Hello World"))
#min : Based on ASCII value it gives the min character
print(min("Synide"))
#sorted : gives a sorted list
print(sorted("Hello World"))

5
r
S
[' ', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

In [42]:
#Capitalize/Title/Upper/Lower/Swapcase
s = 'hello world'

#capitalize : Gives first letter capital
print(s.capitalize())
#title: Returns each first letter of a word as capital
print(s.title())
#upper: Returns characters in uppercase
print(s.upper())
#lower: Returns characters in lower
print(s.lower())

Hello world
Hello World
HELLO WORLD
hello world

In [50]:
#Count/Find/Index
print('my name is muffakir'.count('m'))
print('my name is muffakir'.find('m'))
print('my name is muffakir'.index('m'))

3
0
0

In [52]:
#format
name = "nitish"
gender = "male"
print("Hi my name is {} and i am {}".format(name,gender))

Hi my name is nitish and i am male

In [57]:
#isalnum
print("muffakir9910".isalnum())
print("muffakir".isalpha())
print("123abc".isdigit())
print("1".isidentifier())

True
True
False
False

In [64]:
#Split : breaks a sentence into word by word and gives a python list
x = "Hello World"
print(x.split())

#join : It joins a list in a string
print("-".join(['Hello', 'World']))

['Hello', 'World']
Hello-World

In [66]:
#replace
x = "Hello my name is synide"

print(x.replace('synide','Muffakir'))

Hello my name is Muffakir

In [67]:
#Strip - removes whitespaces
'muffakir                 '.strip()

'muffakir'