In [5]:
# 5 4 3 2 1 
# 4 3 2 1 
# 3 2 1 
# 2 1 
# 1


n = 5
for i in range(0,n):
    for k in range(n-i, 0 , -1):
        print(k,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [16]:
# * 
# * * 
# * * * 
# * * * * 
# * * * * * 
# * * * * 
# * * * 
# * * 
# *


n = 5
for i in range(1,n+1):
    for j in range(0,i):
        print("*",end=' ')
    print()
for i in range(1,n):
    for j in range(n-i,0,-1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [23]:
#     *
#   * * *
# * * * * *


# 2 1 2
# 1 3 1 
# 0 5 0
rows = 3  # total number of rows

for i in range(rows):
    # print leading spaces
    for space in range(rows - i - 1):
        print(" ", end=" ")

    # print stars
    for star in range(2 * i + 1):
        if star % 2 == 0:
            print("*", end=" ")
        else:
            print(" ", end="")

    print()  # move to the next line

    *
  *  *
*  *  *

In [2]:
n = 5
for i in range(1,n+1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [5]:
x = 10
n = 5
sum = 1

for i in range(2,n+1):
    sum = sum +  x ** i / i
print(sum)

22884.333333333332

In [9]:
x = 10
n = 5

sum = 0

for i in range(1,n+1):
    sum = sum + (1/i) * ((x-1) / x) ** i
print(sum)

1.8301230000000004

In [ ]:
#sum upto n
n = 5
start = 2
sum = 0

for i in range(0,n):
    sum = sum + start
    start = start * 10 + 2
print(sum)

In [8]:
n = int(input("Enter the number: "))
binary = []

while n > 0:
    binary.append(n%2)
    n = n//2

for i in binary[::-1]:
    print(i,end='')

Enter the number:  12

1100

In [15]:
x = int(input("Enter first number : "))
y = int(input("Enter second number : "))

if x > y:
    greater = x
else:
    greater = y


while True:
    if(greater % x == 0) and (greater % y == 0):
        lcm  = greater
        break
    greater = greater + 1
print(lcm)

Enter first number :  23
Enter second number :  24

552

In [32]:
#HCF
x = int(input("Enter first Number: "))
y = int(input("Enter second Number: "))

if x < y:
    smaller = x
else:
    smaller = y

for i in range(1,smaller+1):
    if (x % i == 0) and (y % i == 0):
        hcf = i
print(hcf)

Enter first Number:  1
Enter second Number:  1

1

In [37]:
#String Questions from Now
inputData = "Data science mentorship program"
result = ''

for i in inputData.split():
    result = result + i[0].upper()

print(result)

DSMP

In [48]:
str1 = "campusx"
str2 = "data"

sliced = str1[0:int(len(str1)/(2))]
final = sliced + str2 + str1[int(len(str1)/(2)):]
print(final)

camdatapusx

In [51]:
str1 = "MuFFakirR"
uppercase = ''
lowercase = '' 
for i in str1:
    if i == i.upper():
        uppercase = uppercase + i
    else:
        lowercase = lowercase + i
print(lowercase + uppercase)

uakirMFFR

In [64]:
inputStr = 'hel123O4every093'
sum = 0
counter = 0
for i in inputStr:
    if i.isdigit():
        sum = sum + int(i)
        counter = counter + 1
        
print(sum)
print(sum/counter)

22
3.142857142857143

In [65]:
### `Problem 15:` Removal of all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
result = ''

for i in str1:
    if i.isdigit():
        result = result + i

print(result)

2510

In [5]:
str1 = "moffmoff"
mid = int(len(str1) / 2)

if str1[0:mid] == str1[mid:]:
    print("It is a symmetrical string")
else:
    print("It is not a symmetrical string")

It is a symmetrical string

In [20]:
str1 = "geeks quiz practice code"
result = []
for i in str1.split():
    result.append(i)
result.reverse()
final = ' '.join(result)
print(final)

code practice quiz geeks

In [6]:
A = "apple banana mango" 
B = "banana fruits mango"
result = []

for i in A.split():
    if i not in B and i not in result:
        result.append(i)
for j in B.split():
    if j not in A and j not in result:
        result.append(j)

print(result)

['apple', 'fruits']

In [9]:
sen = "We can learn data science through campusx mentorship program"
word = "data"
counter = 0
for i in sen.split():
    counter += 1
    if i == word:
        break
print(counter)

4

In [ ]:
str1 = "aaaabbbbbccccddddfff"
result = ''

for i in str1.split():
    if i not in result: