In [10]:
#celsius to farenheit program
celsius = int(input("Enter Celsius Value : "))
farenheit = int((celsius * 9/5) + 32)
print(farenheit)

Enter Celsius Value :  10

50

In [14]:
#swap two numbers
fnum = int(input("Enter first number: "))
snum = int(input("Enter second number: "))

new_var = fnum
fnum = snum
snum = new_var

print(fnum,snum)

Enter first number:  10
Enter second number:  20

20 10

In [19]:
#euclidean distance between two coordinates
#(x1,y1) and (x2,y2)

x1 = int(input("Enter x-coordinate of first point"))
x2 = int(input("Enter x-coordinate of second point"))
y2 = int(input("Enter y-coordinate of first point"))
y1 = int(input("Enter y-coordinate of second point"))


distance =((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5


print(distance)

Enter x-coordinate of first point 1
Enter x-coordinate of second point 1
Enter y-coordinate of first point 7
Enter y-coordinate of second point 8

1.0

In [29]:
#program to find simple interest
value = int(input("Enter Princpal Amount: "))
interest = float(input("Enter Rate of interest: "))
time = int(input("Enter time period: "))


simple_interest = (value * interest * time) / 100 
final_amount = value  simple_interest

print(f"{simple_interest}% interest rate")
print(final_amount)

Enter Princpal Amount:  10
Enter Rate of intrest:  1
Enter time period:  1

$0.1 intrest rate
1.0

In [31]:
heads = int(input("Enter no of heads : "))
legs = int(input("Enter no of legs : "))

dogs = (legs - 2 * heads) / 2

chickens = heads - dogs

print(dogs, chickens)

Enter no of heads :  4
Enter no of legs :  12

2.0 2.0

In [43]:
n = int(input("Enter N : "))

sum = (n * (n + 1) * (2 * n + 1) / 6)

print((sum))

Enter N :  10

385.0

In [48]:
first_term = int(input("Enter first term : "))
second_term = int(input("Enter second term : "))
nth_term = int(input("Enter nth term : "))

#using #an = a1 + (n-1)d

d = second_term - first_term
an = (first_term + (nth_term - 1) * d)

print(an)

Enter first term :  1
Enter second term :  1
Enter nth term :  1

1

In [51]:
n1 = int(input("Enter Numerator of first term : "))
n2 = int(input("Enter Numerator of second term : "))
d1 = int(input("Enter Denominator of first term : "))
d2 = int(input("Enter Denominator of second term : "))

numerator = (n1 * d2 + n2 * d1) 
denominator = (d1 * d2)

print(f"{numerator} / {denominator}")

Enter Numerator of first term :  1
Enter Numerator of second term :  1
Enter Denominator of first term :  2
Enter Denominator of second term :  3

5 / 6

In [53]:
ht = 20
lt = 20
bt = 20

hg = 3
rg = 1

v_tank = ht * lt * bt 
v_glass = 22/7 * rg ** 2 * hg

no_of_glasses = v_tank / v_glass

print(no_of_glasses)


#milk tank = v = 22/7 * r**2 * h

848.4848484848485