In [8]:
# Q1: Join Tuples if similar initial element
# While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

# For eg.

# Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
# Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 

test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
uniqe = []

for i in test_list:
    uniqe.append(i[0])
uniqe = set(uniqe)

result = []

for i in uniqe:
    result.append([i])
    for j in test_list:
        if j[0] == i:
            result[-1].append(j[1])
    
    

print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [10]:
t = (1, 5, 7, 8, 10)
output = []

output.append(t[0]*t[1])

for i in range(1,len(t)-1):
    output.append(t[i] * t[i-1] + t[i] * t[i+1])

output.append(t[-1]*t[-2])

print(tuple(output))

(5, 40, 91, 136, 80)

In [36]:
t1 = (1,2,3,0)
t2 = (10,11,12,13)



#check if both tuples have same elements at same indexes
for i,j in zip(t1,t2):  
    flag = True
    if i == j:
        continue
    else:
        flag = False
        break

if flag:
    print("They are Same")
else:
    print("They are not same!")

They are not same!

In [52]:
# ###`Q4`: Count no of tuples, list and set from a list
# ```
# list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

# ```
# `Output:`

# ```
# List-2
# Set-2
# Tuples-1
# ```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

output = [0,0,0]

for i in list1:
    if type(i) == list:
        output[0] += 1
    elif type(i) == set:
        output[1] += 1
    elif type(i) == tuple:
        output[2] += 1

print(f" List-{output[0]} \n Set- {output[1]} \n Tuples- {output[2]}")

 List-2
 Set- 2
 Tuples- 1

In [57]:
#Sets
# Input : ar1 = [1, 5, 10, 20, 40, 80]
#         ar2 = [6, 7, 20, 80, 100]
#         ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Output : [80, 20]
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]


list(set(ar1) & set(ar2) & set(ar3))

[80, 20]

In [59]:
# Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
# Input:

# Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
# Output:

# No of unique vowels-6
Str1 = set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
vowels = set("aeiouAEIOU")

print(len(Str1 & vowels))

6

In [61]:
# Q3: Write a program to Check if a given string is binary string of or not.
# A string is said to be binary if it's consists of only two unique characters.

# Take string input from user.

str_test = input("Enter string: ")
set_test = set(str_test)
if len(set_test) == 2:
    print("Yes")
else:
    print("No")

Enter string:  122222211

Yes

In [64]:
list1 = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()


for i in list1:
    s.update(i)

print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

In [69]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}


[i for i in lst1 if i in lst2]

[4, 5, 9, 10]

In [89]:
# Q1: Key with maximum unique values
# Given a dictionary with values list, extract key whose value has most unique values.

# Example 1:

# Input:

# test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
# Output:

# CampusX

test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

max_len = 0
max_key = ""

for i in test_dict:
    if max_len < len(set(test_dict[i])):
        max_len = len(set(test_dict[i]))
        max_key = i

print(max_key)

CampusX

In [91]:
# Q2: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.
# Example 1:

# Input:
result = []

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

for i in test_str.split():
    if i in repl_dict:
        result.append(repl_dict[i])
    else:
        result.append(i)

print(" ".join(result))

CampusX is the best channel for Data-Science students.

In [92]:
# Q3: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.
# Example 1:

# Input:

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
n = len(test_list)

res = []

for i in range(0,n,2):
    res.append({key_list[0] : test_list[i], key_list[1] : test_list[i+1]})

print(res)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [97]:
# Q4: Convert a list of Tuples into Dictionary.
# Example 1:

# Input:

# [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# Output:

# {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

tup = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# dic = {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
dic = {}

for i,j in tup:
    dic[i] = [j]
print(dic)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}