In [2]:
# Problem-1: Write a Python function that takes a list and returns a new list with unique elements of the first list.
# Exercise 1:

# Input:

# [1,2,3,3,3,3,4,5]
# Output:

# [1, 2, 3, 4, 5]

dem = [1,2,3,3,3,3,4,5]

def new_list(arr=[]):
    new_arr = []
    for i in arr:
        if i not in new_arr:
            new_arr.append(i)
    return new_arr

new_list(dem)

[1, 2, 3, 4, 5]

In [8]:
# Problem-2: Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.
# Example 1:

# Input:

# green-red-yellow-black-white
# Output:

# black-green-red-white-yellow

def new_list(string=""):
    new_list = sorted(string.split("-"))
    return "-".join(new_list)

new_list("green-red-yellow-black-white")

black-green-red-white-yellow

In [6]:
# Problem 3: Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
# Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
# Expected Output :
# No. of Upper case characters :  9
# No. of Lower case Characters :  47

sample_str = "Hello"

def case_counter(str):
    upper = 0
    lower = 0
    for i in str:
        if i.isupper():
            upper += 1
        elif i.islower():
            lower += 1

    print( "No. of Upper case characters: ",upper)
    print( "No. of Lower case characters: ",lower)
    
            
        
case_counter(sample_str)

No. of Upper case characters:  1
No. of Lower case characters:  4

In [7]:
# Problem 4: Write a Python program to print the even numbers from a given list.
# Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
# Expected Result : [2, 4, 6, 8]

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

def even_numbers(list = []):
    new_list = []
    for i in list:
        if i % 2 == 0:
            new_list.append(i)
    return new_list



even_numbers(l)

[2, 4, 6, 8]

In [13]:
# ### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

# A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

# Example : 

# ```
# The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. 
# Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. 

# The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
# ```


def perfect_number(n):
    divisor_sum = 0
    for i in range(1,n+1):
        if n % i == 0:
           divisor_sum += i
    if (divisor_sum / 2) == n:
        print("Perfect Number")
    else:
        print("Not perfect Number")
        
perfect_number(8)

Not perfect Number

In [21]:
# ### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

# ```
# Sample Dictionary :
# dic1={1:10, 2:20}
# dic2={3:30, 4:40}
# dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
# ```


dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

def concatenate_dic(*kwargs):
    d = {}
    for i in kwargs:
        d.update(i)

    return d
    
    

concatenate_dic(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
def format_name(first_name,second_name,last_name = ''):
    if second_name:
        full_name = f"{first_name} {second_name} {last_name}"
    else:
        full_name = f"{first_name} {last_name}"
    return full_name.title()

format_name("muffakir","ibn","hamid")


while True:
    f_name = input("Enter first name")
    s_name = input("Enter second name")

    formatted_name = format_name(f_name,s_name)
    print(formatted_name)
    
    c = input("c to contine, q to quit : ")

    if c != "c":
        break
    else:
        continue

Enter first name muffakir
Enter second name hamid

Muffakir Hamid

c to contine, q to quit :  c
Enter first name muffakir
Enter second name hamid

Muffakir Hamid

c to contine, q to quit :  q

In [37]:
# `Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

# ```
# Input:
# hello how are you i am fine thank you
# ```

# ```
# Output
# you -> 2
# ```



def occurance(s):

    dic = {}
    for i in s.split():
        if i in dic:
            dic[i] = dic[i] + 1
        else:
            dic[i] = 1

    max_val = max(dic.values())
    for i in dic:
        if dic[i] == max_val:
            print(i , '->', max_val)

        

occurance('hello hello hello how are you i am fine thank you')

hello -> 3

In [44]:
# Problem-9 Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

# List of Coordinates
# [(1,1),(2,2),(3,3),(4,4)]
# Query Point
# (0,0)
# Output
# Nearest to (0,0) is (1,1)

def shortest_path(cordinates,query):
    temp = []
    for i in cordinates:
        distance = ((i[0] - query[0]) ** 2 + (i[1] - query[1]) ** 2 ) ** 0.5
        temp.append(distance)

    return cordinates[sorted(list(enumerate(temp)),key=lambda x : x[1])[0][0]]
    
shortest_path([(1,1),(2,2),(3,3),(4,4)],(0,0))

(1, 1)

In [50]:
# Write a python program that receives a list of strings and performs bag of word operation on those strings

L = [
    'cat mat rat cat',
    'sat bat fat cat rat',
    'pat cat mat rat'
]

def bow(L):
    vocab = set()
    for i in L:
        vocab.update(i.split())
    print(vocab)
    result = []
    for i in L:
        result.append([])
        for j in vocab:
            result[-1].append(i.count(j))
        
    return result  


bow(L)

{'rat', 'fat', 'pat', 'cat', 'mat', 'sat', 'bat'}
cat mat rat cat
sat bat fat cat rat
pat cat mat rat

[[1, 0, 0, 2, 1, 0, 0], [1, 1, 0, 1, 0, 1, 1], [1, 0, 1, 1, 1, 0, 0]]

In [55]:
# Write a Python program to add three given lists using Python map and lambda.

L1 = [1,2,9]
L2 = [7,8,1]
L3 = [3,1,4]

result = list(map(lambda x,y,z:x+y+z,L1,L2,L3))
print(result)

[11, 11, 14]

In [57]:
# Write a Python program to create a list containing the power of said number in bases
# raised to the corresponding number in the index using Python map.

list1 = [1,2,3,4,5,6]
result = list(map(lambda x,i:x**i,list1,range(len(list1))))
print(result)

[1, 2, 9, 64, 625, 7776]

In [58]:
# Using filter() and list() functions and .lower()
# method filter all the vowels in a given string.

str1 = "FIFA World cup in 2022 will take place in Qatar"

list(filter(lambda x :True if x.lower() in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

In [59]:
#use reduce to convert 2d list into 1d
ini_list = [[1,2,3],
            [3,6,7],
            [7,5,4],
           ]
import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

In [60]:
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
    
]


# A dictionary contains following information about 5 employees:

# First name
# Last name
# Age
# Grade(Skilled,Semi-skilled,Highly skilled)
# Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled


list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x : True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']

In [68]:
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

list(map(lambda x: x['fname'] + ' ' + x['lname'], filter(lambda x : True if x['grade'] == 'highly-skilled' else False, employees)))

['Neha Singh', 'Abhinav Sharma']