In [2]:
#Functions in Python

def isEven(n):
    """
    This function returns if a given number is odd or even
    input - any valid integer
    output - odd/even
    """
    if n % 2 == 0:
        return ("It is a Even Number.")
    else:
        return ("It is a odd Number.")


isEven(2)
isEven(3)

'It is a odd Number.'

In [10]:
#*args and **kwargs are speical Python keywords that are used to pass the variable length of arguments to a function

def multiply(*args):
    product = 1
    for i in args:
        product *= i
    return product

multiply(1,2,3,4)

24

In [19]:
#**kwargs -> allows us to pass any number of keyword arguments
#keyword arguments mean that they contain a key-value pair, like a Python dictionary.

def capital(*args,**kwargs):
    print(args)
    print(kwargs)
    for (key,value) in kwargs.items():
        print(key,value)


capital(1,2,3,india="delhi",pak="karachi")


#args will come first, kwargs will come second

(1, 2, 3)
{'india': 'delhi', 'pak': 'karachi'}
india delhi
pak karachi

In [ ]:
#Functions in python are first class citizens

In [10]:
#type and id
def square(n):
    return n ** 2

print(type(square))
print(id(square))

<class 'function'>
5337033408

In [11]:
#reassign
x = square
print(id(x))
x(3)

5337033408

9

In [12]:
#deleting a function
#del square
square(3) #Square is not defined

9

In [13]:
#storing
L = [1,2,3,4,square]
L[-1](4) #GIVES 16

16

In [16]:
#Functions in python are immutable

{<function __main__.square(n)>}

In [17]:
#returning a function
def f():
    def x(a,b):
        return a+b
    return x

val = f()(3,4)
print(val)

7

In [20]:
#Passing functions as args
def func_a():
    print("Inside func_A")

def func_b(z):
    print("Inside func_B")
    return z

print(func_b(func_a))

Inside func_B
<function func_a at 0x13e1c98a0>

In [22]:
#Lambda Functions : Is a small annonymus function

#A lambda function can take any args but can only have one expression.

lambda x:x**2
lam = x(99)
print(lam)

9801

In [ ]:
# Difference bw lambda vs normal function

"""
No name
lambda has no return value
lambda is written in 1 line
not reusable
"""

In [23]:
#check if a string has 'a'
a = lambda x : 'a' in x
print(a('hello'))

False

In [27]:
#odd or even
b = lambda x : 'even' if x % 2 == 0 else 'odd'
print(b(2))

even

In [43]:
c = lambda x : 11 in x
print(c([1,2,3]))

False

In [51]:
#Higher Order funtion
# A function which returns or takes input as function are known as HOF
def square(n):
    return n**2
def transform(f,L):
    output = []
    for i in L:
        output.append(f(i))
    return output

L = [1,2,3,4,5]
#we can use lambda function as well
transform(lambda x:x**3, L)

[1, 8, 27, 64, 125]

In [52]:
#Map : applies a given function to each item of an iterable
list(map(lambda x : x ** 2, [1,2,3,4]))

[1, 4, 9, 16]

In [53]:
list(map(lambda x : 'even' if x % 2 == 0 else 'odd',[1,2,3,4,5,6,7,8]))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [54]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]

list(map(lambda x : x['name'],users))

['Rahul', 'Nitish', 'Ankita']

In [56]:
#Filter
#It filters a list based on conditioning

L = [4,5,6,7,8,9,1,2,3,4,5331,234]

list(filter(lambda x : x >= 5, L))

[5, 6, 7, 8, 9, 5331, 234]

In [60]:
fruits = ['apple','guava','cherry']
list(filter(lambda x:x.startswith('a'),fruits))

['apple']

In [61]:
#Reduce

import functools

functools.reduce(lambda x,y : x+y, [1,2,3,4,5,6])

21

In [62]:
#Find min
functools.reduce(lambda x,y : x if x < y else y, [1,2,3,4,5,6,7])

1

In [63]:
#Find max
functools.reduce(lambda x,y : x if x > y else y, [1,2,3,4,5,6,7])

7